<div class="big-navbar">
  <img class="avatar-show-page" src="https://images.unsplash.com/photo-1597409212870-c47068072688?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80">
  <%= link_to "Connect", "#", class: "button-blue button-blue-show-page" %>
</div>

<div class="container">
  <div class="row">
    <div class="col card-about info-show-page">
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora non libero eum eligendi deleniti officiis, exercitationem rem voluptate omnis minima quasi culpa sed mollitia repellendus ratione autem laborum magnam id.</p>
    </div>
    <div class="col card-about qualifications-icons">
      <i class="fas fa-paint-roller"> Painting the walls</i>
      <i class="fas fa-palette"> Picking up colors</i>
      <i class="fas fa-spray-can"> Working with a color spray</i>
      <i class="fas fa-brush"> Doing the walls from scratch</i>
      <i class="fas fa-swatchbook"> Making measurments</i>
      <i class="fas fa-wrench"> Working with wrench</i>
      <i class="fas fa-hammer"> Working with hammer</i>
      <i class="fas fa-screwdriver"> Working with a screwdriver</i>
  </div>
</div>


