<div class="chat-box-receiver" id="receiver" data-message-id="<%= message.user.id %>" data-user-id="<%= current_user.id %>">

  <div class="chat-box-receiver-text">
    <p><%= message.content %></p>
  </div>
</div>
