<div class="chat-box-sender" id="sender" data-message-id="<%= message.user.id %>" data-user-id="<%= current_user.id %>">
  <div class="chat-box-sender-text">
    <p><%= message.content %></p>
  </div>
</div>
