// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $green: #1EDD88;
// $light-gray: #F1F1F1;


// Oranges
$orange: #E67E22;
$orange1: #FFA800;
$orange2: #FFC427;
$orange3: #FFD500;
$orange4: #FFF1D6;


// Blacks
$black: #231F21;
$grey: #BFBFBF;
$light-gray: #F1F1F1;
$white: #fcf7ef;

$pure-white: #FFFFFC;

// Blues
$blue: #042E46;
$light-blue: #E0F2FF;
