<div class="container">
  <div class="row justift-content-center">
    <div class="col-6">
      <h2>Sign up</h2>

      <!-- Buttons to choose and trigger EventListener with the specific form -->
      <button id="customer-btn" class="button-blue">Customer</button>
      <button id="contractor-btn" class="button-blue">Contractor</button>

      <!-- Render to two different divs, with contractor with d-none class to hide -->
      <%= render "shared/forms/customer_form" %>
      <%= render "shared/forms/contractor_form" %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
