
// styling left side of chatrooms, list of chats
.chatroom-index {
  border-right: 1px solid rgba(0,0,0,0.2);
}

// for styling left side of chatrooms, each chat card
.chatroom-index-card {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  justify-content: space-around;
  &:hover {
    background-color: $orange4;
  }
}

#chatroom-avatar {
  width: 60px;
  height: 60px;
}

.chatroom-index-card p {
  color: $black;
}


.chatroom-container {
  width: 100wh;
  margin: 2em;
}
.chatroom-messages {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.new_message_form {
  // position: absolute;
  // bottom: 1px;
  width: 100%;
}

a:hover {
  text-decoration: none;
}


#message_content {
  border-radius: 50px;
  border: orange 1px solid;
  width: 95%;
}


.booking-request {
  text-align: center;
  margin: auto;
}

.accept-decline {
  display: flex;
  justify-content: flex-end;
}
