// Specific CSS for your home-page

// styling for the homepage banner
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  // transform: scaleX(-1);
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 15% 0% 0 0%;
  color: white;
  align-items: center;
  // transform: scaleX(-1);
}

.banner h1 {
  display: flex;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
  flex-direction: column;
  align-items: flex-start;
  padding: 15% 0% 0 0%;
  color: white;
  align-items: center;
  font-size: 65px;
}

#button-main-home {
  height: 100%;
}


#dropdown-home:hover {
  color: black;
}


// .navbar-inner {
//   background: transparent;
// }

