// Specific CSS for your home-page

// styling for the homepage banner
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  // transform: scaleX(-1);
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15% 0% 0 0%;
  color: white;
  align-items: center;
  // transform: scaleX(-1);

}

#button-main-home {
  height: 100%;
}

#dropdown-home:hover {
  color: black;
}




