.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  margin-left: 3rem;
}

.dropdown-index-page {
  display: flex !important;
  justify-content: center;
  padding-bottom: 20px;
}


#search-index {
    display: block;
    width: 200px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFFFFC;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    justify-content: flex-end;

}

.col-xs-6 {
  width: 200px;
  justify-self: end;
  padding-bottom: 40px;
}

.verticalLine {
  border-left: thick solid gray;
  height: 100%;
}

.grid-container {
  display: grid;
}
