.big-navbar {
  background-color: rgba(255, 168, 0, 0.8);
  height: 100px;
  position: relative;
}

.button-blue-show-page {
  position: absolute;
  align: center;
  right: 10%;
  top: 20%;
  // width: 40px;
}

.card-about {
  margin-top: 120px;
}

.container {
 display: grid;
 // justify-content: space-between;
}

.fas {
  color: $black;
  opacity: 0.9;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

// .fas:hover {
//   opacity: 0.4;
// }

.fa-star {
  color: $blue;
}

.fa-star:hover {
 opacity: 1;
}

.review-rating {
  display: flex;
  margin: 0;
}

.review-rating p {
  margin-right: 4px;
}

.review-container {
  background-color: #F4F4F4;
  padding: 4px;
}

.raiting-stars {
  display: flex;
  align-items: center;
}


// NEW STYLE SHOW PAGE

.container {
  max-width: 1870px;
  margin: 30px auto 30px;
  padding: 0 !important;
  width: 90%;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

header {
  background: $white;
  background-color: rgba(255, 168, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120px;
}


@media (max-width:800px) {
  header {
    height: 150px;
  }
}

main {
  padding: 20px 20px 0px 20px;

}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid $white;;
  object-fit: cover;
}


@media (max-width:990px) {
    right: calc(50% - 60px);
    top: 50px;
}

.name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18pt;
  color: $black;
}

.info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 12pt;
  color: $grey;
}

.stats {
  // margin-top: 25px; this will break index page as there's another stats
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey;
}


.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  color: $grey;
}

.desc-stat {
  margin-top: -15px;
  font-size: 14pt;
  color: $grey;
}

.desc {
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  color: $grey;
  font-size: 12pt;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.right {
  padding: 0 25px 0 25px !important;
}

.nav {
  display: inline-flex;
}

.nav li {
  margin: 40px 30px 0 10px;
  cursor: pointer;
  font-size: 13pt;
  // text-transform: uppercase;
  font-weight: 500;
  color: $grey;
}


.connect-show-page {
  position: absolute;
  right: 8%;
  top: 10px;
  cursor: pointer;
  transition: all .4s;
  font-weight: 400;
  padding: 20px 28px;
  background: rgba(39, 109, 255, 0.91);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.connect-show-page:hover {

}

@media (max-width:990px) {
  .nav {
    display: none;
  }

  .connect-show-page {
    width: 50%;
    margin-left: 25%;
    display: block;
    position: unset;
    text-align: center;
  }
}
.gallery  {
  margin-top: 35px;
}

.gallery div {
  margin-bottom: 30px;
}

.gallery img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  width: 280px;
  height: 280px;
  object-fit: cover;
  cursor: pointer;
  max-width: 100%;
}

 // .circle-3 {

 //   box-sizing: border-box;
 //    width: 208px;
 //    height: 208px;
 //    top: -3px;
 //    left: -3px;
 //    border-width: 1px;
 //    border-style: solid;
 //    border-color: $orange $orange $orange transparent;
 //    border-radius: 50%;
 //    transition: all 1s ease-in-out;
 //    }

 //  .circle-4 {
 //    @extend .circle-3;
 //    width: 220px;
 //    height: 220px;
 //    top: -6px;
 //    left: -6px;
 //    border-color: $orange1 transparent $orange1 $orange1;
 //    }


.reviews {
  width: 40%;
  padding-left: 40px;
  padding-right: 20px;
}












