<button class="button-main">
  Button Main
</button>


<button class="button-blue">
  Button Blue
</button>


<button class="button-connect">
  Button Connect
</button>

<button class="button-decline">
  Button Decline
</button>
