<div class="card-index">
  <p id="service-type">Service Type</p>
  <hr>
  <div class="card-left">
    <%= cl_image_tag("https://res.cloudinary.com/jordannadroj/image/upload/v1613501376/pkvrmhcsxi7i7slo0tcx.jpg", alt: "alttext", class: "avatar") %>
    <p>Full Name</p>
    <button class="button-main">
      Button Main
    </button>
    <p>stars</p>
  </div>
  <div class="card-icons">

  </div>
</div>
