<div class="card-index">
  <p id="service-type">Service Type</p>
  <hr>
  <div class="card-left">
    <%= image_tag "lego.jpeg", alt: "alttext", class: "avatar" %>
    <p>Full Name</p>
    <button class="button-main">
      Button Main
    </button>
    <p>stars</p>
  </div>
  <div class="card-icons">

  </div>
</div>
