<div class="chat-box">
  <%= cl_image_tag("https://res.cloudinary.com/jordannadroj/image/upload/v1613501376/pkvrmhcsxi7i7slo0tcx.jpg", alt: "alttext", class: "avatar") %>
  <div class="chat-box-text">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque quos, sint quidem nesciunt sed dicta quis incidunt beatae eos voluptates quisquam molestiae vitae velit qui laborum quo consequatur dolores necessitatibus.</p>
  </div>
</div>
