<div class="dropdown" id="dropdown-home">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose a service
  </button>
</div>


<div class="dropdown dropdown-filter">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter <strong>All</strong>
  </button>
</div>
