
<% categories = [] %>
<% @users.each do |u| %>
  <% u.businesses.each do |b| %>
<% categories << b.category %>
  <% end %>
  <% end %>
<% categories_unique = categories.uniq %>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Our Services</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

         <%= form_tag(businesses_path, method: "get") do %>

          <div class="grid">
            <% id = 1 %>
          <% categories_unique.each do |category| %>

          <div class="checkbox">
            <%= radio_button_tag("query[category_id]", category, false, class: "hidden-input", id: "query_category_id_#{id}") %>
            <%= label_tag("query_category_id_#{id}", category) %>
            <% id += 1 %>
          </div>
          <% end %>
        </div>

      <%# select_tag :query,  options_for_select(categories_unique, params[:query]), class: "dropdown,  input-group, select2", id: "dropdown-home", include_blank: "Choose a service" %>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <input type="submit" class="button-main" value="Search" for="inputGroupSelect02">

      </div>
    </div>
  </div>
</div>
<% end %>





