<div class="review-card">
  <div class="review-card-top">
    <%= cl_image_tag("https://res.cloudinary.com/jordannadroj/image/upload/v1613501376/pkvrmhcsxi7i7slo0tcx.jpg", alt: "alttext", class: "avatar") %>
    <div class="review-card-top-info">
      <p>John Doe</p>
      <p>September 2020</p>
    </div>
  </div>
  <p>ratings</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate saepe culpa fugiat ab! Similique modi ut magnam mollitia! Officia autem nisi distinctio, modi provident repudiandae optio quasi sint est aliquam.</p>
  <p><strong>Read More</strong></p>
</div>
