<!-- dropdown for home page -->
<p>Dropdowns for home page and index filter</p>
<%= render "shared/dropdown" %>

<br>

<!-- buttons -->
<p>buttons</p>
<button class="button-main">
  Button Main
</button>

<button class="button-blue">
  Button Blue
</button>

<button class="button-connect">
  Button Connect
</button>

<button class="button-decline">
  Button Decline
</button>


<br>
<br>
<br>

<!-- card for index page -->
<p>Index card</p>

<%= render "shared/card-index" %>


<br>
<br>
<br>
<p>review card</p>

<%= render "shared/review-card" %>

<br>
<br>
<br>
<br>
<br>

<p>chat box</p>

<%= render "shared/chat-box" %>






