<!-- dropdown for home page -->
<p>Dropdowns for home page and index filter</p>
<%= render "shared/dropdown" %>

<br>

<!-- buttons -->
<p>buttons</p>
<button class="button-main">
  Button Main
</button>

<button class="button-blue">
  Button Blue
</button>

<button class="button-connect">
  Button Connect
</button>

<button class="button-decline">
  Button Decline
</button>


<br>
<br>
<br>

<!-- card for index page -->
<p>Index card</p>

<div class="card-index">
  <p id="service-type">Service Type</p>
  <hr>
  <div class="card-left">
    <%= image_tag "lego.jpeg", alt: "alttext", class: "avatar" %>
    <p>Full Name</p>
    <button class="button-main">
      Button Main
    </button>
    <p>stars</p>
  </div>
  <div class="card-icons">

  </div>
</div>
