
<% categories = [] %>
<% @users.each do |u| %>
  <% u.businesses.each do |b| %>
<% categories << b.category %>
  <% end %>
  <% end %>
<% categories_unique = categories.uniq %>


<div class="banner" style="background-image: linear-gradient(to right, rgba(100,100,100,0.4), rgba(100,100,100,0)), url(<%= cl_image_path "https://res.cloudinary.com/jordannadroj/image/upload/v1614272481/prtm27ymxpnjygkzw22c.jpg"%>)">
  <!-- for the text and dropdown on the home banner -->
  <div class="banner-text">
    <h1>Fix your house in a few clicks</h1>
    <h3>another text snippet here</h3>
    <%= form_tag(businesses_path, method: "get") do %>
      <%= select_tag :query,  options_for_select(categories_unique, params[:query]), class: "dropdown,  input-group, select2", id: "dropdown-home", include_blank: "Choose a service" %>
      <input type="submit" class="button-main" value="Search" for="inputGroupSelect02">
    <% end %>
  </div>
</div>





