<div class="second-banner-index">
  <h2>My Businesses</h2>
</div>

<div class="cards-big-container-my-businesses">
  <div class="cards-container-my-businesses">
    <%= render 'shared/business_card' %>
  </div>
</div>
