// for card on the index

.card-index {
  width: 468px;
  height: 420px;
  border: 1px solid #C4C4C4;
  background: #FFFFFF;
  .avatar {
    margin-bottom: 18px;
    border: 1px solid black;
  }
  button {
    margin-bottom: 16px;
  }
}

.card-left {
  text-align: center;
  width: 40%;
  position: relative;
  bottom: 42px;
}

#service-type {
  text-align: right;
  margin: 8px 8px -9px 0;
  opacity: 0.5;
}


// for review card on show page

.review-card {
  width: 332px;
  margin-left: 20px;
  // height: 220px;
 .avatar {
    width: 51px;
    height: 51px;
    margin-right: 12px;
  }
}

.review-card-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.review-card-top-info p {
  margin: 0;
}


.card-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

// past work on the business show page
.card-work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.container-sign-up {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-toolbar {
  align-items: center;
  margin-top: 20px;
}




