#dropdown-home {
  // background: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #C4C4C4;
  width: 400px;
}



.dropdown-filter {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 20%;
}


#inputGroupSelect02 {
  // background: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: Raleway;
  font-style: normal;
  // font-weight: 600;
  // font-size: 18px;
  line-height: 21px;
  // color: #C4C4C4;
  // width: 20%;
  margin-right: 8px;

}

