.devise-form  {
  background-color: white;
  border: solid 1px;
  margin: 6rem auto;
  width: 25rem;
  box-shadow: 2px 2px 5px #24586A;
  border-radius: 20px;
}

.devise-form .form-inputs {
  margin: auto;
  width: 75%;
}

.devise-form .form-actions {
  display: flex;
}

.devise-form .form-actions > input {
  background-color: #FFB201;
  width: 100%;
  color: black;
  font-size: 16px;
  border-radius: 10px;
}


.devise-form .form-actions > input:hover {
  background-color: #FDA521;
  width: 100%;
  color: black;
  font-size: 16px;
  border-radius: 10px;
}

.devise-form .form-actions-signin > input {
  background-color: #FFB201;
  width: 75%;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  margin: auto;
  display: block;
}


.devise-form .form-actions-signin > input:hover {
  background-color: #FDA521;
  width: 75%;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.break-line {
  width: 85%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 40px auto;
}

.break-line span {
  background: white;
  padding:0 10px;
}

.devise-link-btn {
  border: solid 1px;
  color: #FCF7EF;
  padding: 8px 36px;
  background-color: #24586A;
  border-radius: 10px;
  width: 75%;
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 600;
}

.form-check-box > fieldset {
  display: flex;
  justify-content: flex-start;
}

.form-check-box > fieldset div {
  margin-right: 1rem;
}
