.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #FFFFFC;
    background-clip: padding-box;
    border: 1px solid rgba(35, 31, 33, 0.2);
    border-radius: 15px;
    outline: 0;
  }

.modal-dialog {
  padding-top: 200px;
}

// .modal-body {
    .hidden-input + label{
      display: block;
      cursor: pointer;
      box-sizing: border-box;
      width: 100%;
      font-size: 12px;
      text-align: left;
      padding: 10px 10px 30px 10px;
      border: 1px solid #EAEAEA;
      border-radius: 10px;
      background-color: white;
    }



    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }

  .hidden-input {
  position: absolute;
  transform: scale(0);
  }

  .hidden-input:checked + label {
    // background-color: pink !important;

  }
// }


.modal-body label:hover {
     background-color: pink;
     border: 2px solid black;
    }
