.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #FFFFFC;
    background-clip: padding-box;
    border: 1px solid rgba(35, 31, 33, 0.2);
    border-radius: 15px;
    outline: 0;
  }

.modal-dialog {
  padding-top: 200px;
}

// .modal-body {
    .hidden-input + label{
      display: block;
      cursor: pointer;
      box-sizing: border-box;
      width: 100%;
      font-size: 12px;
      text-align: left;
      padding: 10px 10px 20px 10px;
      border: 1px solid #EAEAEA;
      border-radius: 10px;
      background-color: white;
      font-size: 14px;
      padding-left: 23px;
      padding-top: 10%;
    }



    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 14px;
    }

  .hidden-input {
  position: absolute;
  transform: scale(0);

  }

  .hidden-input:focus {
    outline:none;
  }

  .hidden-input:checked + label {
     // background-color: #f0faf2 !important;
     border: 2px solid #FFB201 !important;
     font-weight: bolder;
  }



.modal-body label:hover {
     // background-color: pink;
     border: 2px solid #FFB201 !important;
     font-weight: bolder;
     transform: scale(1.1)

    }
