.navbar {
  justify-content: space-between;
  background: rgba(255, 168, 0, 0.8);
  z-index: 2;
}

.navbar .navbar-collapse {
  flex-grow: 0;
  &:hover {
    text-decoration: none;
  }
}


.navbar .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  align-items: center;
}

.navbar-trans {
  background: transparent !important;
}
#bee-logo {
  transform: rotate(64deg);
}

.navbar-brand {
  font-weight: 600;
  color: black;
}

.brand-white {
  color: white !important;
  img {
  filter: brightness(0) invert(1);
  }
}

.navbar-light .navbar-brand {
    color: black;
}

#navbarDropdown {
  position: relative;
  bottom: 9px;
  &:hover {
    text-decoration: none;
  }
}
