.navbar {
  justify-content: space-between;
  background: rgba(255, 168, 0, 0.8);
  z-index: 2;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  align-items: center;
}

// .navbar-trans {
//   background: transparent;
// }
#bee-logo {
  transform: rotate(64deg);
}
