<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2>Say a few words about </h2>
      <%= render 'form' %>
      <br>
      <%= link_to "Back", bookin_path(@booking), class: "btn button-blue" %>
    </div>
  </div>
</div>
