<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2>Say a few words about <%= @business.name %></h2>
      <%= render 'form' %>
      <br>
      <%= link_to "Back", business_path(@business), class: "button-main" %>
    </div>
  </div>
</div>
